.App {
  width: 900px;
  border: 2px solid dimgrey;
  margin: 50px;
  color: dimgray;
}
.top {
  height: 40px;
  background-color: steelblue;
  border-bottom: 2px solid dimgrey;
}
.main-block {
  padding:  20px 0 20px;
}

.blogNav {
  padding: 0 20px;
}
.mainTitle {
  margin: 10px 0 0 3%;
  float: left;
}
.ul {
  margin: 0 0 0 65%;
  padding-top: 10px;
}
.liNav{
  display: inline-block;
  list-style: none;
  margin-left: 20px;
  text-decoration: none;
  margin-bottom: 20px;
}
li {

}
.switch {
  border-top: 2px solid dimgrey;
  padding: 20px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
button {
  margin: 10px;
  padding: 5px;
  width: 60px;
  background-color: steelblue;
  color: white;
}